@model IList<Prospect>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to my Mock NBA draft App!</h1>
<h2>For new and vetran fans alike...</h2>

@*<table class="table table-striped">
    @foreach (Prospect p in Model)
    {
        <tr>
            <td>@p.Age</td>
            <td>@p.Assists</td>
            <td>@p.Blocks</td>
            <td>@p.Height</td>
            <td>@p.Points</td>
            <td>@p.Position</td>
            <td>@p.ProspectName</td>
            <td>@p.Rating</td>
            <td>@p.Rebounds</td>
            <td>@p.School</td>
            <td>@p.Steals</td>
            <td>@p.Weight</td>
        </tr>
    }
</table>*@